In [1]:
dataset=pd.read_csv(r'C:\Users\owner\OneDrive\Desktop\Data sets\Loan\pre-processed_data.csv', index_col=None )

In [2]:
dataset.head()

,Unnamed: 0,Gender,Married,Dependents,Education,Self_Employed,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,LoanAmount_log,TotalIncome_log
0,0,Male,No,0,Graduate,No,360,1,Urban,1,4.857444,8.674026
1,1,Male,Yes,1,Graduate,No,360,1,Rural,0,4.852030,8.714568
2,2,Male,Yes,0,Graduate,Yes,360,1,Urban,1,4.189655,8.006368
3,3,Male,Yes,0,Not Graduate,No,360,1,Urban,1,4.787492,8.505323
4,4,Male,No,0,Graduate,No,360,1,Urban,1,4.948760,8.699515

In [3]:
dataset=dataset.drop(dataset.columns[0],axis = 1)

In [4]:
dataset.head()

,Gender,Married,Dependents,Education,Self_Employed,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,LoanAmount_log,TotalIncome_log
0,Male,No,0,Graduate,No,360,1,Urban,1,4.857444,8.674026
1,Male,Yes,1,Graduate,No,360,1,Rural,0,4.852030,8.714568
2,Male,Yes,0,Graduate,Yes,360,1,Urban,1,4.189655,8.006368
3,Male,Yes,0,Not Graduate,No,360,1,Urban,1,4.787492,8.505323
4,Male,No,0,Graduate,No,360,1,Urban,1,4.948760,8.699515

In [5]:
dataset=pd.get_dummies(dataset, drop_first=True)

In [6]:
dataset.head()

,Dependents,Loan_Amount_Term,Credit_History,Loan_Status,LoanAmount_log,TotalIncome_log,Gender_Male,Married_Yes,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban
0,0,360,1,1,4.857444,8.674026,1,0,0,0,0,1
1,1,360,1,0,4.852030,8.714568,1,1,0,0,0,0
2,0,360,1,1,4.189655,8.006368,1,1,0,1,0,1
3,0,360,1,1,4.787492,8.505323,1,1,1,0,0,1
4,0,360,1,1,4.948760,8.699515,1,0,0,0,0,1

In [7]:
import os
os.getcwd()

'C:\\Users\\owner\\OneDrive\\Desktop\\Internship\\Loan'

In [8]:
# dataset.to_csv('pre-processed_data_new.csv')

In [9]:
dataset.shape

(614, 12)

In [10]:
dataset_features=dataset.copy()
dataset_labels=dataset_features.pop('Loan_Status')

In [11]:
dataset_features.head()

,Dependents,Loan_Amount_Term,Credit_History,LoanAmount_log,TotalIncome_log,Gender_Male,Married_Yes,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban
0,0,360,1,4.857444,8.674026,1,0,0,0,0,1
1,1,360,1,4.852030,8.714568,1,1,0,0,0,0
2,0,360,1,4.189655,8.006368,1,1,0,1,0,1
3,0,360,1,4.787492,8.505323,1,1,1,0,0,1
4,0,360,1,4.948760,8.699515,1,0,0,0,0,1

In [12]:
X_train, X_test, y_train, y_test = train_test_split(dataset_features, dataset_labels, test_size=0.2, random_state=42)

In [13]:
X_train.shape

(491, 11)

In [14]:
X_train.head()

,Dependents,Loan_Amount_Term,Credit_History,LoanAmount_log,TotalIncome_log,Gender_Male,Married_Yes,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban
83,0,360,1,5.579730,9.017968,1,1,0,0,1,0
90,0,360,1,4.875197,8.675564,1,1,0,0,1,0
227,2,360,1,5.347108,8.980298,1,1,0,0,1,0
482,0,360,1,4.852030,8.562740,1,1,0,0,1,0
464,0,360,0,4.584967,8.334712,1,0,0,0,1,0

In [15]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
X_train=ss.fit_transform (X_train)
X_test=ss.fit_transform(X_test)

In [16]:
X_train.shape

(491, 11)

In [17]:
# X_train.head()

In [18]:
y_test

350    1
377    1
163    1
609    1
132    1
      ..
231    1
312    1
248    1
11     1
333    1
Name: Loan_Status, Length: 123, dtype: int64

In [19]:
y_train

83     0
90     1
227    1
482    1
464    0
      ..
71     1
106    1
270    1
435    1
102    1
Name: Loan_Status, Length: 491, dtype: int64

In [20]:
import keras
from keras.datasets import mnist
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import SGD
import os, glob

In [21]:
from keras.layers import Dropout
model = Sequential()
model.add(Dense(256, activation='relu', kernel_initializer='uniform', input_dim=11))
model.add(Dropout(0.25))
model.add(Dense(256, activation='relu', kernel_initializer='uniform'))
model.add(Dropout(0.25))
model.add(Dense(64, activation='relu', kernel_initializer='uniform'))
model.add(Dense(1, activation='sigmoid'))

In [22]:
model.compile(loss='binary_crossentropy', optimizer='nadam', metrics=['accuracy'])

In [23]:
output_dir = 'model_output/transfer_VGG'

In [24]:
from keras.callbacks import ModelCheckpoint 
modelcheckpoint = ModelCheckpoint(filepath=output_dir+
                                 "/weights.{epoch:02d}.hdf5")

In [25]:
if not os.path.exists(output_dir):
    os.makedirs(output_dir)

In [26]:
model.fit(X_train, y_train, batch_size=4, epochs=10, verbose=1, validation_data=(X_test, y_test), callbacks=[modelcheckpoint])

Epoch 1/10
123/123 [==============================] - 3s 7ms/step - loss: 0.5553 - accuracy: 0.7637 - val_loss: 0.5049 - val_accuracy: 0.7886
Epoch 2/10
123/123 [==============================] - 1s 4ms/step - loss: 0.4660 - accuracy: 0.8208 - val_loss: 0.5211 - val_accuracy: 0.7805
Epoch 3/10
123/123 [==============================] - 1s 4ms/step - loss: 0.4549 - accuracy: 0.8208 - val_loss: 0.5672 - val_accuracy: 0.7886
Epoch 4/10
123/123 [==============================] - 1s 4ms/step - loss: 0.4684 - accuracy: 0.8147 - val_loss: 0.5137 - val_accuracy: 0.7886
Epoch 5/10
123/123 [==============================] - 1s 5ms/step - loss: 0.4382 - accuracy: 0.8310 - val_loss: 0.5356 - val_accuracy: 0.7886
Epoch 6/10
123/123 [==============================] - 1s 4ms/step - loss: 0.4329 - accuracy: 0.8248 - val_loss: 0.5360 - val_accuracy: 0.7805
Epoch 7/10
123/123 [==============================] - 1s 4ms/step - loss: 0.4230 - accuracy: 0.8248 - val_loss: 0.5481 - val_accuracy: 0.7724
Epoch 8/10
123/123 [==============================] - 1s 5ms/step - loss: 0.4224 - accuracy: 0.8167 - val_loss: 0.5538 - val_accuracy: 0.7317
Epoch 9/10
123/123 [==============================] - 1s 5ms/step - loss: 0.4088 - accuracy: 0.8411 - val_loss: 0.5788 - val_accuracy: 0.7805
Epoch 10/10
123/123 [==============================] - 1s 5ms/step - loss: 0.3975 - accuracy: 0.8534 - val_loss: 0.5588 - val_accuracy: 0.7480

In [27]:
model.load_weights(output_dir + '/weights.01.hdf5')

In [ ]:
X_test[0]

In [28]:
y_pred=model.predict(X_test)

4/4 [==============================] - 0s 6ms/step

In [29]:
y_pred=np.where(y_pred > 0.5, 1, 0)

In [30]:
y_pred

array([[1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1]])

In [31]:
print('The accuracy of DL.ANN is: ', metrics.accuracy_score(y_pred,y_test))

The accuracy of DL.ANN is:  0.7886178861788617

In [ ]:
# import keras
# from keras import layers
# from keras.datasets import mnist
# from keras.models import Sequential
# from keras.layers import Dense
# from keras.optimizers import SGD

In [ ]:
# model = tf.keras.Sequential([
#     layers.Dense (64),
#     layers.Dense(128),
#     layers.Dense (2)
#     ])
# model.compile(loss = tf.keras.losses.MeanSquaredError(),
#     optimizer = tf.optimizers.Nadam(), metrics=['accuracy'])

In [ ]:
# model.fit(dataset_features, dataset_labels, epochs=10)

In [ ]:
# model.fit(X_train, y_train,  epochs=50, verbose=1, validation_data=(X_test, y_test))

In [ ]:
os.getcwd()